apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
generators:
- |-
  apiVersion: viaduct.ai/v1
  kind: ksops
  metadata:
    name: sops-generator
    annotations:
      config.kubernetes.io/function: |
          exec:
            path: ksops
  files:
  - secret.enc.yaml

# helmCharts:
# - name: harbor
#   includeCRDs: false
#   valuesInline: {}
#   releaseName: harbor
#   version: v1.18.1
#   repo: https://helm.goharbor.io
