apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
generators:
- |-
  apiVersion: viaduct.ai/v1
  kind: ksops
  metadata:
    name: sops-generator
    annotations:
      config.kubernetes.io/function: |
          exec:
            path: ksops
  files:
  - secret.enc.yaml

helmCharts:
- name: harbor
  includeCRDs: false
  valuesInline:
    expose:
      type: loadBalancer
      loadBalancer:
        name: harbor
        IP: "192.168.192.100"
        ports:
          httpPort: 80
          httpsPort: 443
      tls:
        enabled: false
    persistence:
      persistentVolumeClaim:
        registry:
          storageClass: "nfs-client"
          accessMode: ReadWriteMany
          size: 100Gi
        jobservice:
          jobLog:
            storageClass: "nfs-client"
            accessMode: ReadWriteMany
            size: 1Gi
        database:
          storageClass: "nfs-client"
          accessMode: ReadWriteMany
          size: 1Gi
        redis:
          storageClass: "nfs-client"
          accessMode: ReadWriteMany
          size: 1Gi
        trivy:
          storageClass: "nfs-client"
          accessMode: ReadWriteMany
          size: 5Gi
  releaseName: harbor
  version: v1.18.1
  repo: https://helm.goharbor.io
