apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
generators:
- |-
  apiVersion: viaduct.ai/v1
  kind: ksops
  metadata:
    name: sops-generator
    annotations:
      config.kubernetes.io/function: |
          exec:
            path: ksops
  files:
  - secret.enc.yaml

helmCharts:
- name: docker-registry
  includeCRDs: false
  valuesInline:
    secrets:
      haSharedSecret: registry-htpasswd
    persistence:
      enabled: true
      accessMode: 'ReadWriteMany'
      size: 100Gi
      storageClass: 'nfs-client'
    resources:
      limits:
        cpu: 100m
        memory: 128Mi
      requests:
        cpu: 100m
        memory: 128Mi
    service:
      name: registry
      type: LoadBalancer
      loadBalancerIP: 192.168.192.100
      port: 5000
    garbageCollect:
      enabled: true
      deleteUntagged: true
      schedule: "0 1 * * *"
      resources:
        limits:
          cpu: 100m
          memory: 128Mi
        requests:
          cpu: 100m
          memory: 128Mi
  releaseName: registry
  version: 3.0.0
  repo: https://twuni.github.io/docker-registry.helm
