apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
generators:
- |-
  apiVersion: viaduct.ai/v1
  kind: ksops
  metadata:
    name: sops-generator
    annotations:
      config.kubernetes.io/function: |
          exec:
            path: ksops
  files: []

helmCharts:
- name: pihole
  includeCRDs: false
  valuesInline:
    replicaCount: 1
    # # Can't chown so we need to figure something else out.
    # TODO: Patch the helm template with a securityContext so
    # we can run as non-root and set a fs user
    # persistentVolumeClaim:
    #   enabled: true
    #   storageClass: nfs-client
    capabilities:
      add: ["SYS_TIME"]
    
    DNS1: 192.168.0.1
    DNS2: 192.168.128.1

    serviceWeb:
      loadBalancerIP: 192.168.192.53
      annotations:
        metallb.universe.tf/allow-shared-ip: pihole-svc
      type: LoadBalancer

    serviceDns:
      loadBalancerIP: 192.168.192.53
      annotations:
        metallb.universe.tf/allow-shared-ip: pihole-svc
      type: LoadBalancer
    podDnsConfig:
      enabled: true
      policy: "None"
      nameservers:
      - 127.0.0.1
      - 1.1.1.1
  releaseName: pihole
  version: 2.35.0
  repo: https://mojo2600.github.io/pihole-kubernetes/
