apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflared
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cloudflared
  template:
    metadata:
      labels:
        app: cloudflared
    spec:
      containers:
        - name: cloudflared
          image: cloudflare/cloudflared:latest
          resources:
            requests:
              cpu: 500m
              memory: 500Mi
            limits:
              cpu: '1'
              memory: 1Gi
          args:
            - tunnel
            - --no-autoupdate
            - run
          env:
            - name: TUNNEL_TOKEN
              valueFrom:
                secretKeyRef:
                  name: cloudflared-secret
                  key: TUNNEL_TOKEN
          volumeMounts:
            - name: cloudflared-config
              mountPath: /etc/cloudflared
      volumes:
        - name: cloudflared-config
          configMap:
            name: cloudflared-config