apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# TODO: Figure out how to tell Talos to not use HTTPS
# resources:
  # - deployment.yaml

generators:
- |-
  apiVersion: viaduct.ai/v1
  kind: ksops
  metadata:
    name: sops-generator
    annotations:
      config.kubernetes.io/function: |
          exec:
            path: ksops
  files:
    - secret.enc.yaml

