apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  app: cloudflared

resources:
  - deployment.yaml
  - volumeclaim.yaml

configMapGenerator:
  - name: cloudflared-config
    files:
      - config.yaml

generators:
- |-
  apiVersion: viaduct.ai/v1
  kind: ksops
  metadata:
    name: sops-generator
    annotations:
      config.kubernetes.io/function: |
          exec:
            path: ksops
  files:
  - secret.enc.yaml
